<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Ralph De Castro</div>
        <div class="card-body">
          <h4 class="card-title">Numbah wan</h4>
          <img src="https://i.pinimg.com/736x/d2/56/c9/d256c9eedc0c91aaf65cf6cda095ec96.jpg" alt="image" class="img-fluid rounded">
          <p class="card-text">Nag-aaral sa university of baguio</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Jaymark Calderon</div>
        <div class="card-body">
          <h4 class="card-title">Numbah tu</h4>
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c4c924a4-f15e-4ebd-bf44-c82dd745e108/dim5b8q-895240a9-c07d-47e5-a0ff-9e09d3837796.png/v1/fit/w_414,h_397,q_70,strp/funny_mouth_bob_by_bobfromoggy_dim5b8q-414w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAxIiwicGF0aCI6IlwvZlwvYzRjOTI0YTQtZjE1ZS00ZWJkLWJmNDQtYzgyZGQ3NDVlMTA4XC9kaW01YjhxLTg5NTI0MGE5LWMwN2QtNDdlNS1hMGZmLTllMDlkMzgzNzc5Ni5wbmciLCJ3aWR0aCI6Ijw9ODM1In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.IjGkGOJ_AkLLQ4H16-hEvlSRjDM9XIv80QF_6QZfqb4" 
           alt="image" class="img-fluid rounded">
          <p class="card-text">Nag-aaral sa university of baguio</p>
        </div>
      </div>
    </div>
  </div>
</div>

