<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>Welcome to My Homepage</h1>
    </header>

    <div class="container">
        <div class="welcome-message">
            <h2>Hello, world!</h2>
            <p>Welcome to our simple project, feel free to explore!!!!!!!!!!!!!!!!!!</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Calderon-DeCastro. All rights reserved.</p>
    </footer>

</body>
</html>
