<h1>Angular Child Routes Example</h1> 
<nav> 
 <a routerLink="/parent" routerLinkActive="active">Parent</a> |  
 <a routerLink="/parent/child-one" routerLinkActive="active">Child One</a> |  
 <a routerLink="/parent/child-two" routerLinkActive="active">Child Two</a> 
</nav> 
<hr/> 
<a routerLink="/admin" routerLinkActive="active">Admin Section</a> |
<a routerLink="/admin/dashboard" routerLinkActive="active">Admin
Dashboard</a> |

<a routerLink="/admin/users" routerLinkActive="active">Admin Users</a>


<router-outlet></router-outlet>



<!-- Button to Trigger Modal -->
<button class="btn btn-primary" (click)="openModal()">Launch Modal</button>

<!-- Modal Structure -->
<div
  class="modal"
  [class.show]="isModalVisible"
  [style.display]="isModalVisible ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 mat-dialog-title>Enter Your Details</h2>
<div mat-dialog-content>
  <input [(ngModel)]="name" placeholder="Enter your name">
  <p>Hello, {{ name }}!</p>

  <input [(ngModel)]="email" placeholder="Enter your email">
  <p>Your email is: {{ email }}</p>

  <input [(ngModel)]="age" type="number" placeholder="Enter your age">
  <p>Your age is: {{ age }}</p>

  <input [(ngModel)]="religion" placeholder="Enter your religion">
  <p>Your religion is: {{ religion }}</p>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>